{{- if .Values.createClusterAdminEntities }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: logging-service-operator
  labels:
    {{- include "logging-operator.resourceLabels" (dict "ctx" . "name" "logging-service-operator" "component" "logging-operator") | nindent 4 }}
  {{- if .Values.labels }}
    {{- toYaml .Values.labels | nindent 4 }}
  {{- end }}
  {{- if .Values.annotations }}
  annotations:
    {{- toYaml .Values.annotations | nindent 4 }}
  {{- end }}
subjects:
  - kind: ServiceAccount
    name: logging-service-operator
    namespace: {{ .Release.Namespace }}
roleRef:
  kind: ClusterRole
  name: logging-service-operator
  apiGroup: rbac.authorization.k8s.io
{{- end }}
