{{- if or (include "graylog.http.generateCerts.enabled" . ) (include "graylog.input.generateCerts.enabled" . ) (include "fluentd.generateCerts.enabled" . ) (include "fluentbit.generateCerts.enabled" . ) (include "fluentbit.aggregator.generateCerts.enabled" . ) }}
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: logging-ca-issuer
  labels:
    {{- include "logging-operator.resourceLabels" (dict "ctx" . "name" "logging-ca-issuer" "component" "logging-operator") | nindent 4 }}
  {{- if .Values.labels }}
    {{- toYaml .Values.labels | nindent 4 }}
  {{- end }}
  {{- if .Values.annotations }}
  annotations:
    {{- toYaml .Values.annotations | nindent 4 }}
  {{- end }}
spec:
  ca:
    secretName: logging-self-signed-ca-certificate
{{- end }}
