{{- if .Values.createClusterAdminEntities }}
{{- if .Values.fluentbit.install }}
{{- if .Values.fluentbit.aggregator }}
{{- if .Values.fluentbit.aggregator.install }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: logging-fluentbit-agg-cluster-reader
  labels:
    {{- include "logging-operator.resourceLabels" (dict "ctx" . "name" "logging-fluentbit-agg-cluster-reader" "component" "fluentbit") | nindent 4 }}
  {{- if .Values.fluentbit.labels }}
    {{- toYaml .Values.fluentbit.labels | nindent 4 }}
  {{- end }}
  {{- if .Values.fluentbit.annotations }}
  annotations:
    {{- toYaml .Values.fluentbit.annotations | nindent 4 }}
  {{- end }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: logging-fluentbit-aggregator-cluster-role
subjects:
  - kind: ServiceAccount
    name: {{ .Values.openshiftDeploy | default false | ternary "view" "logging-fluentbit-aggregator-cluster-role" }}
    namespace: {{ .Release.Namespace }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
