{{- if and .Values.fluentd.install }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: logging-fluentd
  labels:
    {{- include "logging-operator.resourceLabels" (dict "ctx" . "name" "logging-fluentd" "component" "fluentd") | nindent 4 }}
  {{- if .Values.fluentd.labels }}
    {{- toYaml .Values.fluentd.labels | nindent 4 }}
  {{- end }}
  {{- if .Values.fluentd.annotations }}
  annotations:
    {{- toYaml .Values.fluentd.annotations | nindent 4 }}
  {{- end }}
{{- end }}
