{{- if .Values.integrationTests.install -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: tests-config
  labels:
    {{- include "logging-operator.resourceLabels" (dict "ctx" . "name" "tests-config" "component" "integration-tests") | nindent 4 }}
data:
  {{- if include "logging.monitoredImages" . }}
  dd_images: {{ include "logging.monitoredImages" . }}
  {{ else }}
  dd_images: ""
  {{ end }}
{{ end }}
