---
name: Run Logging Pipeline
on:
  workflow_dispatch: {}
  pull_request:
    types: [opened, synchronize, reopened]
    branches: [main]
    paths-ignore:
    # - '.github/**'
    - 'docs/**'
    - 'CODE-OF-CONDUCT.md'
    - 'CONTRIBUTING.md'
    - 'LICENSE'
    - 'README.md'
    - 'SECURITY.md'
permissions:
  contents: read

jobs:
  Wait-for-images:
    runs-on: ubuntu-latest
    outputs:
      conclusion: ${{ steps.wait.outputs.conclusion }}
    steps:
      - name: Wait for build.yaml to complete
        uses: netcracker/qubership-workflow-hub/actions/wait-for-workflow@main
        id: wait
        with:
          workflow: build.yaml
          token: ${{ secrets.GITHUB_TOKEN }}
          poll-interval: 20
  Logging-Pipeline:
    needs: Wait-for-images
    if: ${{ needs.Wait-for-images.outputs.conclusion }} == 'success'
    uses: Netcracker/qubership-test-pipelines/.github/workflows/logging.yaml@feat/logging-integration-tests
    with:
      service_branch: '${{ github.head_ref || github.ref_name }}'
      versions_file: '.github/versions.yaml'
      pipeline_branch: 'feat/logging-integration-tests' # this value must match the value after '@' in 'uses'
      opensearch_version: 'main'